[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.0"
fastapi = "==0.104.1"
authlib = "==1.2.1"
requests = "==2.31.0"
httpx = "==0.25.1"
itsdangerous = "==2.1.2"

[dev-packages]

[requires]
python_version = "3.11"
